body {
    background: rgb(51, 17, 9);
    background: linear-gradient(91deg, rgba(79,28,15,1) 7%, rgba(175,105,86,1) 46%, rgba(79,28,16,1) 81%);
}

.history-content {
    color: #f0e3d5;
    background: rgba(87, 26, 26, 0.8);
    padding: 30px;
    border-radius: 15px;
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out; 
}

.history-content:hover {
    transform: scale(1.02); 
}

.history-title {
    color: #f0e3d5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
    font-size: 2.5rem; 
    text-align: center; 
    margin-bottom: 30px;
}

.history-content p {
    margin-bottom: 1.5rem;
    text-align: justify;
    color: #cfd4d2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


.history-content img {
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
}

.history-content img:hover {
    transform: scale(1.05); 
    opacity: 0.9; 
}

